/* css styles */
    body {
      margin: 0; /* Remove default margin */
      padding: 0; /* Remove default padding */
      background-color: black;
      }
    
    a {
    text-decoration: none;
    }

    a:hover {
      font-weight: bold;
      text-decoration: none;
      cursor: pointer;
    }

    .container {
      display: grid;
      grid-template-rows: auto 1fr;
      grid-gap: 10px;
      height: auto;
      opacity: 1;
      z-index: 1;
    }
    


    .scenario{
      background-image: url('images/home.gif'); /* Replace 'your-image.jpg' with the actual path to your image */
      background-size: cover; /* This property ensures the background image covers the entire viewport */
      opacity: 0.6;
      background-position: center; /* Center the background image */
      background-repeat: no-repeat; /* Do not repeat the background image */
      background-color: black;
      height: 100%; 
      min-height: 100vh;
      text-align: center;
    }
    
    
    .scenario-text{
    background-color: black;
    opacity: 0.8;
    padding: 10px;
    }
  
    
    .scenario-image {
    background: rgba(0,0,0,.8);
    }
    
    #back {
      grid-row: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      }

    .options {
      grid-row: 2;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      padding: 20px;
      text-align: center;
    }
    
    @media (min-width: 600px) {
      .options { grid-template-columns: repeat(2, 1fr); }
    }
    
    .final-options {
      grid-row: 2;
      display: grid;
      grid-template-columns: 1;
      gap: 20px;
      padding: 50px;
      text-align: center;
    }

    .option {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      gap: 20px;
      background: #e2e7f6;
      padding: 20px;
      border-radius: 20px;
      box-shadow: 5px 10px #cdcece;
    }
    
    .option img {
      width: 100%;
      height: auto;
      object-fit: cover; /* You can adjust this property based on your needs */
    }
    
    .text-overlay {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      text-align: center;
    }
      
    .bottom-div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: green; /* Set the background color */
      opacity: 0.4;
    }

    .top-div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #fff; /* Set the text color */
      background-color: blue;
      opacity: 1;
    }
    